.nav_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 5rem;
  background-color: var(--primary);
}

.nav_item {
  margin: 1em 1em;
  font-weight: 400;
}

.nav_container a {
  text-decoration: none;
  color: #fff;
}

.nav_container a:hover {
  color: var(--headtext);
}